
###### Requirements without Version Specifiers ######
#assuming a kali host

#python-docx: https://pypi.python.org/pypi/python-docx
#shodan: https://github.com/achillean/shodan-python
#google: https://pypi.python.org/pypi/google, also installs beautifulsoup


docx
shodan
google

